
h1{
  border: 5px solid rgba(28, 143, 209, 0.25);
  text-align: center;
}
body{
  background-image: url(https://lh3.googleusercontent.com/proxy/oyH64O-dm6Rbgj7zd9FNmGrf1Ud-YQup5IHRU2MEPhdHc4-pa_VLlNaFlpoHIOaLvVX2Iwygz5BY4VvL723q6nq5EpakPxi5lOcF2wdXBsC-Wdr862IS9Nlm4y1rkdwGj2M-fWFJ7FaZG__b_YyHIwhBAXcMIHQ);
  background-size: cover;
}