/* general format of css
selector{
  property: value;
}*/

/* the * selects everything */
*{
  text-align: right;
}
body{
  background-color: rgba(112, 142, 164);
}
/* with a space, h2 p, that means all p within h2 there are various ways to call various selectors */
h2,p{
  text-align: center;
  border: 5px solid rgba(212, 166, 106, 0.75);
  border-radius: 10px;
}
li{
  list-style: none;
  display: inline-table;
}
/* the . means you're editing a class, in this case you're editing all your webtexts */
.webtext{
  border: 2px dashed;
  border-radius: 20px;
  border-color: skyblue;
}
/* the # means you're editing what ever is tagged with the id "products" */
#products{
  background-color: rgba(0,0,200,0.35); 
}
button:hover{
  background-color: yellow;
}